In [1]:
lists = ['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']

for x in lists:
    print(x)

Orange
Pineapple
Strawberry
Kiwi
Peach

List comprehensions

In [3]:
multiples = [x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [4]:
# same meaning as:

multiples = []
for x in range(1, 11):
    multiples.append(x*7)
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [5]:
## find the 3 multiples
z = [x for x in range(0,101) if x % 3 == 0]
print(z)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

The permissions of a file in a Linux system are split into three sets of three permissions: read, write, and execute for the owner, group, and others. Each of the three values can be expressed as an octal number summing each permission, with 4 corresponding to read, 2 to write, and 1 to execute. Or it can be written with a string using the letters r, w, and x or - when the permission is not granted. For example: 640 is read/write for the owner, read for the group, and no permissions for the others; converted to a string, it would be: "rw-r-----" 755 is read/write/execute for the owner, and read/execute for group and others; converted to a string, it would be: "rwxr-xr-x" Fill in the blanks to make the code convert a permission in octal format into a string format.

In [10]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for num in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if num >= value:
                result += letter
                num -= value
            else:
                result += "-"
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

Question 5
The group_list function accepts a group name and a list of members, and returns a string with the format: group_name: member1, member2, â€¦ For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". Fill in the gaps in this function to do that.

In [19]:
def group_list(group, users):
    all_member = ""
    for index, member in enumerate(users):
        if index == len(users)-1:
            all_member += member
        else:
            all_member += member + ", "
    members = group+": " + all_member
    return members

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

In [13]:
s = "string.!!! With. Punctuation?" # Sample stri
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
result = 0
for word in s:
    if word in punctuations:
        result += 1
print(result)

6

In [ ]:
uninteresting_words = ["the", "a", "to", "if", "is", "it", "of", "and", "or", "an", "as", "i", "me", "my", \
    "we", "our", "ours", "you", "your", "yours", "he", "she", "him", "his", "her", "hers", "its", "they", "them", \
    "their", "what", "which", "who", "whom", "this", "that", "am", "are", "was", "were", "be", "been", "being", \
    "have", "has", "had", "do", "does", "did", "but", "at", "by", "with", "from", "here", "when", "where", "how", \
    "all", "any", "both", "each", "few", "more", "some", "such", "no", "nor", "too", "very", "can", "will", "just"]
test = ""